* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: black;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: dimgray;
}

.top-wrapper {
    height: 75%;
    width: 100%;
    background-color: gray;
    display: flex;
}

.visualizer {
    height: 100%;
    width: 75%;
    background-color: black;
    border: 2px solid gray;
}

.tracks-pane {
    height: 100%;
    width: 25%;
    background-color: #090909;
}

.track-list {
    height: auto;
    background-color: #000000;
    text-align: left;
    list-style: none;
    padding-left: 0;
}

.track-list > li:nth-child(odd) { 
    background: #131313; 
}

.track {
    padding: .75em;
    color: limegreen;
}

.bottom-wrapper {
    height: 25%;
    width: 100%;
}

.waveform {
    height: 50%;
}

.now-playing {
    height: 2rem;
    width: 100%;
    background-color: black;
    color: greenyellow;
    padding: .25em 1em;
    font-size: 1em;
    border: 2px solid gray;
    line-height: 1.5em;
}

.controls {
    padding: 1em;
}

.controls button {
    font-size: 1.5em;
    border-radius: .25em;
    padding: .5em;
    background-color: gray;
}