* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #090909;
    font-family: arial;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: dimgray;
}

.top-wrapper {
    height: 75%;
    width: 100%;
    background-color: gray;
    display: flex;
}

.right-wrapper {
    height: 100%;
    width: 25%;
    background-color: #000000;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    overflow: scroll;
    cursor: default;
}

.visualizer {
    height: 100%;
    width: 75%;
    background-color: #090909;
    border: 2px solid gray;
    border-bottom: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.album-nav {
    height: 3rem;
    background-color: #090909;
    color: #e6e6e6;
    font-size: 1em;
    display: flex;
    align-items: center;
    padding: .5em;
}

.album-nav i {
    height: 2em;
    width: 2em;
    background-color: #000000;
    color: #737373;
    padding: .5em;
    border-radius: 60%;
    text-align: center;
}

.album-nav i:hover {
    background-color: #191919;
    cursor: pointer;
}

.album-nav i:active {
    background-color: #000000;
}

.nav-title {
    padding-left: 1em;
}

.album-card {
    border-bottom: 2px solid #4a4a4a;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.album-card:hover {
    background-color: #090909;
}

.album-thumb {
    height: 4em;
    width: 4em;
    border: 1px solid gray;
    object-fit: cover;
}

.album-card-text {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.album-card-title {
    font-size: 1.3em;
    color: #e6e6e6;
}

.album-card-artist {
    font-size: 1em;
    color: #737373;
}

.track-list {
    height: auto;
    background-color: #090909;
    text-align: left;
}

.track-list > li:nth-child(odd) { 
    background-color: #131313; 
}

.track-list > li:nth-child(odd):hover { 
    background-color: #090909; 
}

.track-list > li:nth-child(odd):active { 
    background-color: #000000; 
}

.track {
    padding: .75em;
    color: limegreen;
    font-size: 1.4em;
    line-height: 1.25em;
}

.track:hover {
    background-color: #090909;
    color: gainsboro;
}

.track:active {
    background-color: #000000;
}

.track-name {
    font-weight: 600;
}

.track-length {
    font-style: italic;
}

.track-artist {
    color: gray;
}

.bottom-wrapper {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#696969, #4a4a4a);
}

.waveform {
    height: 40%;
    width: 100%;
    background-color: #090909;
    border-top: 2px solid gray;
}

.playing-text {
    width: 100%;
    background-color: black;
    background: linear-gradient(#090909, #000000);
    color: #e6e6e6;
    padding: .4rem 1rem;
    font-size: 1.4em;
    border-bottom: 1px solid #191919;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.artist-playing {
    color: #737373;
}

.album-playing {
    font-weight: bold;
}

.now-playing {
    z-index: 100;
}

.duration {
    text-align: right;
    color: #e6e6e6;
    z-index: 100;
}

.controls {
    height: 60%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    font-size: 1.5em;
    border-radius: .25em;
    padding: .5rem 1rem;
    background-color: #696969;
    margin: 0 .1rem;
}

.controls button:hover {
    background-color: #737373;
}

.controls button:active {
    background-color: #4a4a4a;
}

.volume-slider {
    padding: 0 2em;
}

.volume {
    appearance: none;
    height: 1em;
    background: #191919;
    border-radius: 2em;
}

.volume::-webkit-slider-thumb {
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #737373;
    border-radius: 1em;
    background-color: #4a4a4a;
}


@media only screen and (max-width: 480px) {

    body {
        margin: 0;
        padding: 0;
    }

    .top-wrapper {
        height: 70%;
        flex-direction: column;
        border: none;
    }

    .visualizer {
        width: 100%;
        height: 40%;
        border: 4px solid #131313;
    }

    .right-wrapper {
        width: 100%;
        height: 60%;
        border: none;
        font-size: .75em;
    }

    .album-nav {
        position: fixed;
        width: 100%;
    }

    .tracks-pane {
        margin-top: 4em;
    }

    .bottom-wrapper {
        height: 30%;
    }

    .playing-text {
        font-size: .9em;
        border-bottom-left-radius: 1.5rem;
        display: flex;
    }

    .now-playing {
        width: 80%;
        height: 1.2em;
        overflow-x: hidden;
        white-space: nowrap;
    }

    .album-playing {
        visibility: hidden;
    }

    .duration {
        width: 20%;
        font-size: .8em;
    }

    .controls {
        flex-direction: column;
    }

    .button-wrap {
        margin-bottom: 1rem;
    }

    .controls button {
        font-size:  1em;
    }
}